@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.nav-links {
	position: relative;
	outline: none !important;
	transition: 0.3s;
}

.nav-links::after {
	content: "";
	background-color: #4dabf7;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.3s;
}

/* Can't decide if nav bar should be blue on hover  */
/* 
.nav-links:hover,
.nav-links:focus {
	@apply text-secondaryBlack;
	@apply text-primaryBlue;
} */

.nav-links:hover::after,
.nav-links:focus::after {
	background-color: theme("colors.primaryBlue");

	width: 100%;
}

.avatar-class {
	position: relative;
	border-bottom: 4px solid black;
}

.animated-card::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 180%;
	background-color: theme("colors.primaryBlue");

	/* //Just changed */
	transform: rotate(45deg);
}

.animated-card:hover::before {
	animation: animate 3s linear infinite;
}

@keyframes animate {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(405deg);
	}
}
.animated-card::after {
	position: absolute;
	content: "";
	inset: 1px;
	background-color: white;
	border-radius: 1.5rem;
}

.animated-black::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: -1;
	border-radius: 0 0 50% 50%;
	height: 0%;
	transition: all 0.5s;
}

.animated-black:hover::before {
	height: 180%;
}

.animated-black {
	transition: all 0.6s;
}

.animated-black:hover {
	color: white;
	transform: translate(0px, -5px);
}

.animated-black:active {
	transform: translateY(2px); /* Moves the button down by 2px */
}

/* White button animation */

.animated-white::before {
	position: absolute;
	content: "";

	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -1;
	border-radius: 50% 50% 0 0;
	height: 0%;
	transition: all 0.5s;
}

.animated-white:hover::before {
	height: 180%;
}

.animated-white {
	transition: all 0.6s;
}

.animated-white:hover {
	color: black;
	transform: translate(0px, -5px);
}

.animated-white:active {
	transform: translateY(2px); /* Moves the button down by 2px */
}

#about,
#skills,
#projects {
	scroll-margin-top: 20vh;
}

@media (min-width: 768px) {
	#about,
	#skills,
	#projects {
		scroll-margin-top: 12vh;
	}
}
