@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
}

a {
	text-decoration: none;
}

.nav-links {
	position: relative;
	outline: none !important;
	transition: 0.3s;
}

.nav-links::after {
	content: "";
	background-color: #4dabf7;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.3s;
}

/* Can't decide if nav bar should be blue on hover  */
/* 
.nav-links:hover,
.nav-links:focus {
	@apply text-secondaryBlack;
	@apply text-primaryBlue;
} */

.nav-links:hover::after,
.nav-links:focus::after {
	background-color: theme("colors.primaryBlue");
	width: 100%;
}

.avatar-class {
	position: relative;
	border-bottom: 4px solid black;
}
/* .avatar-class::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -25px;
	left: 50%;
	width: 65%;
	height: 4px;
	background-color: black;
	transform: translateX(-50%);
} */
